.cards-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  max-width: 300px;
  margin: 1rem auto;
  overflow-y: auto;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  background: linear-gradient(135deg, #007bff, #0056b3);
}

.cards-container.dark-mode {
  background: linear-gradient(135deg, #343a40, #212529);
}

.card-item {
  cursor: pointer;
  border-radius: 15px;
  overflow: hidden;
  background: #fff;
  width: 200px;
  height: 200px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s, box-shadow 0.3s;
}

.card-item:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.central-image-wrapper {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-width: 500px;
  max-width: 600px;
  padding: 20px;
}

.central-image {
  max-width: 100%;
  height: auto;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

/* Media Queries */
@media (min-width: 768px) {
  .cards-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .card-item {
    width: 250px;
    height: 250px;
  }

  .central-image-wrapper {
    flex-direction: row;
    justify-content: space-between;
  }
}

@media (max-width: 767px) {
  .text-section {
    font-size: 0.8rem;
  }

  .card-item {
    width: 150px;
    height: 150px;
  }

  .motion-div {
    font-size: 0.9rem;
  }
}